[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/vermin/rapidjson
	branch = wazn
[submodule "miniupnp"]
	path = miniupnp
	url = https://github.com/vermin/miniupnp
	branch = wazn
[submodule "unbound"]
	path = unbound
	url = https://github.com/vermin/unbound
	branch = wazn
