[Unit]
Description=WAZN Full Node
After=network.target

[Service]
User=wazn
Group=wazn
WorkingDirectory=~
RuntimeDirectory=wazn

Type=forking
PIDFile=/run/wazn/waznd.pid
ExecStart=/usr/local/bin/waznd --restricted-rpc --config-file /etc/waznd.conf \
    --detach --pidfile /run/wazn/waznd.pid

Restart=always

[Install]
WantedBy=multi-user.target
